BasedOnStyle: LLVM
IndentWidth: 4                 # Use 4 spaces for indentation
TabWidth: 4                    # Tab width is also 4 spaces
UseTab: Never                  # Always use spaces instead of tabs
ColumnLimit: 120                # Wrap lines after 80 characters
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
AlignConsecutiveDeclarations:
  Enabled:         true 
  AcrossEmptyLines: false
  AcrossComments:  false
  AlignCompound:   false
  AlignFunctionPointers: false
  PadOperators:    false
AlignConsecutiveMacros: true
